@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

@font-face {
  font-family: "Futura PT";
  src: url("./assets/fonts/FuturaPT-Book.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Futura PT";
  src: url("./assets/fonts/FuturaPT-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Futura PT";
  src: url("./assets/fonts/FuturaPT-Heavy.ttf");
  font-weight: 700;
}
